@model EditUserViewModel
@{
    ViewBag.Title = "Edit USer";
    Layout = "_Layout";
}

<div class="container-fluid" style="margin: 5% 0 5% 0">
    <h2>Edycja danych użytkownika</h2>
    <form asp-controller="User" asp-action="Edit" method="post">

        <div class="my-form-group">

            <input class="my-form-control" type="text" asp-for="Name" placeholder="Imię" />
            <span asp-validation-for="Name"></span><br />

            <input class="my-form-control" type="text" asp-for="Surname" placeholder="Nazwisko" />
            <span asp-validation-for="Surname"></span><br />

            <input class="my-form-control" type="email" asp-for="Email" placeholder="Email użytkownika" />
            <span asp-validation-for="Email"></span><br />

            <input class="my-form-control" type="password" asp-for="Password" placeholder="Nowe hasło" /><br />
            <span asp-validation-for="Password"></span><br />

            <input class="my-form-control" type="password" asp-for="ConfirmPassword" placeholder="Powtórz hasło" /><br />
            <span asp-validation-for="ConfirmPassword"></span><br /><br />

            <button class="btn btn-outline-secondary" type="submit">Zapisz</button>
            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Anuluj</a>

        </div>

    </form>
</div>