@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Zapomniałem hasła";
    Layout = "_Layout";
}

<div class="container-fluid" style="margin: 5% 0 5% 0">
    <h2>Zapomniałem hasła</h2>
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="my-form-group">
            <input class="my-form-control" type="email" asp-for="Email" placeholder="Twój adres email"/>
            <span asp-validation-for="Email" class="text-danger"></span><br/>

            <button class="btn btn-outline-secondary" type="submit">Wyślij</button>
            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Anuluj</a>
        </div>
    </form>
</div>