@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj się";
    Layout = "_Layout";
}

<section class="login-page">
    <h2>Zaloguj się</h2>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <input type="email" asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="Password" placeholder="Hasło" />
            <span asp-validation-for="Password"></span>
            <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn--small btn--without-border reset-password">Przypomnij hasło</a>
        </div>

        <div class="form-group form-group--buttons">
            <a asp-controller="Account" asp-action="Register" class="btn btn--without-border">Załóż konto</a>
            <button class="btn" type="submit">Zaloguj się</button>
        </div>
    </form>
</section>