@model RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj się";
    Layout = "_Layout";
}


<section class="login-page">
    <h2>Załóż konto</h2>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="form-group">
            <input type="text" asp-for="Name" placeholder="Imie" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Surname" placeholder="Nazwisko" />
            <span asp-validation-for="Surname"></span>
        </div>
        <div class="form-group">
            <input type="email" asp-for="Email" placeholder="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="Password" placeholder="Hasło" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="ConfirmPassword" placeholder="Powtórz hasło" />
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <div class="form-group form-group--buttons">
            <a asp-controller="Account" asp-action="Login" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Załóż konto</button>
        </div>
    </form>
</section>