@model ResetPasswordViewModel
@{
    ViewBag.Title = "Resetowanie hasła";
    Layout = "_Layout";
}

<div class="container-fluid" style="margin: 5% 0 5% 0">
    <h2>Resetowanie hasła</h2>
    <form asp-controller="Account" asp-action="ResetPassword" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="my-form-group">
            <input class="my-form-control" type="password" asp-for="Password" placeholder="Nowe hasło"/>
            <span asp-validation-for="Password" class="text-danger"></span><br/>

            <input class="my-form-control" type="password" asp-for="ConfirmPassword" placeholder="Potwierdź hasło"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br/>

            <input type="hidden" asp-for="Email" class="my-form-control"/>
            <input type="hidden" asp-for="Token" class="my-form-control"/>

            <button class="btn btn-outline-secondary" type="submit">Zapisz</button>
            <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Anuluj</a>
        </div>

    </form>
</div>