@model UserEditViewModel
@{
    ViewBag.Title = "Edit User";
    Layout = "_Layout";
}

<div class="container-fluid" style="margin: 5% 0 5% 0">
    <h2>Edycja danych admina</h2>
    <form asp-controller="Admin" asp-action="EditUser" method="post">

        <div class="my-form-group">
            <input class="my-form-control" type="text" asp-for="UserName" placeholder="Nazwa użytkownika (imię i nazwisko)" />
            <span asp-validation-for="UserName"></span><br />
            <input class="my-form-control" type="email" asp-for="Email" placeholder="Email użytkownika" />
            <span asp-validation-for="Email"></span><br /><br />
            <button class="btn btn-outline-secondary" type="submit">Zapisz</button>
            <a class="btn btn-outline-secondary" asp-controller="Admin" asp-action="ShowUsers">Anuluj</a>
        </div>

    </form>
</div>